---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <section class="md:p-10">
    <div class="lg:container mx-auto">
      <Card title={frontmatter.title}>
        <div class="pb-5">
          <Content />
        </div>
        <a href="/blog" class="px-5 py-2 mt-5 uppercase bg-zinc-800 text-white"
          >go back</a
        >
      </Card>
    </div>
  </section>
</Layout>
