---
import Layout from "../layouts/Layout.astro";
import ShowCase from "../components/ShowCase.astro";
import Card from "../components/Card.astro";

const title = "Astro blog";
const posts = await Astro.glob("../posts/*.md");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<Layout title={title}>
  <ShowCase heading="Astro Blog" text="A simple blog built with Astro" />
  <section class="p-10 lg:container mx-auto">
    <div class="grid gap-10">
      {
        nonDraftPosts.map((post) => (
          <Card
            title={post.frontmatter.title}
            body={post.frontmatter.excerpt}
            link={`/${post.frontmatter.slug}`}
          />
        ))
      }
    </div>
  </section>
</Layout>
