---
import Layout from "../layouts/Layout.astro";
import ShowCase from "../components/ShowCase.astro";
import Featurs from "../components/Featurs.astro";
import Tabs from "../components/Tabs.astro";

const title = "Astro";
const name = "Astro";
---

<Layout title={title}>
  <ShowCase
    heading="welcome to the astro crash cource!"
    text="Build super fast HTML-first website using your favorait JavaScript framework"
    logos="https://github.com/bradtraversy/astro-crash-course/blob/main/src/images/framework-logos-small.png?raw=true"
    extraText="This is demo site"
  />
  <Featurs />
  <section class="p-10 lg:container mx-auto flex flex-col items-center">
    <div>
      <h2 class="text-center font-black text-4xl">Get Started With Astro</h2>
      <p class="text-lg font-medium pt-5">
        Get new Astro project up and running locally with our helpful
        create-astro CLI wizard!
      </p>
    </div>
    <!-- tabs -->
    <Tabs
      headings={["npm", "pnpm", "yarn"]}
      commands={["npm create astro@latest"]}
    />
    <div class="py-5">
      <h3 class="font-extrabold text-2xl pb-5">Start Building</h3>
      <p class="">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam
        officia rem dignissimos molestiae quibusdam. Reprehenderit quaerat
        excepturi eveniet maiores, asperiores quod exercitationem vitae labore
        sunt dolor explicabo aliquid officia culpa adipisci corrupti distinctio
        est obcaecati perspiciatis hic beatae ipsum, sapiente voluptatum
        nostrum. Totam a dolor cum est mollitia itaque nisi.
      </p>
    </div>
  </section>
</Layout>
