---
const { title } = Astro.props;
const { body } = Astro.props;
const { dark = false } = Astro.props;
const { link = false } = Astro.props;
---

<div
  class={`${
    dark
      ? "text-violet-300 bg-zinc-800 shadow-white"
      : "text-black bg-violet-50"
  } p-10 xl:p-12 shadow-md space-y-3 rounded-xl`}
>
  <h3 class="font-extrabold text-xl">{title}</h3>
  <p class="font-semibold pb-7">{body}</p>
  {
    link && (
      <a href={link} class="bg-zinc-800 text-white uppercase py-2 px-5">
        Read More
      </a>
    )
  }
  <slot />
</div>
