---
import Card from "./Card.astro";

const featuresData = [
  {
    title: "Zero JavaScript Runtime",
    body: "Astro renders HTML on the server and strips away any remaining, unused JavaScript.",
  },
  {
    title: "The Power of Islands",
    body: " Need interactive UI? Load individual, non-blocking component islands in parallel.",
  },
  {
    title: "Lazy-Loading Islands",
    body: "Components only hydrate when they scroll into view. If you don't see it, Astro won't load it.",
  },
];
---

<section class="xl:container mx-auto">
  <div class="p-7 grid lg:grid-cols-3 gap-10 justify-items-center">
    {
      featuresData.map((feature) => (
        <Card title={feature.title} body={feature.body} />
      ))
    }
  </div>
</section>
