<footer class="bg-gray-900 text-white">
  <div class="p-10 lg:container mx-auto">
    <h2 class="font-bold text-2xl mb-5">Astro</h2>
    <p class="text-md">
      This is a demo website to show how the Astro framework works. Visit the <span
        >official website</span
      > to learn more.
    </p>
  </div>
</footer>
