---
---

<header class="p-5 px-10 bg-violet-950 text-white">
  <div class="flex items-center justify-between font-mono md:container mx-auto">
    <div class="">
      <a href="/">
        <img src="/images/astro.svg" alt="astro logo" class="w-32" />
      </a>
    </div>
    <div class="">
      <ul class="flex items-center gap-5">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</header>
