---
const { heading = "heading goes here" } = Astro.props;
const { text = "description/tag line here" } = Astro.props;
const { logos } = Astro.props;
const { extraText } = Astro.props;
---

<section class="p-5 text-white bg-gradient-to-b from-violet-950 to-violet-500">
  <div class="text-center">
    <h1 class="font-extrabold p-7 text-5xl capitalize leading-snug">
      {heading}
    </h1>
    <p class="font-semibold text-2xl">{text}</p>
  </div>
  <div class="flex flex-col items-center p-5 pt-14">
    {logos && <img src={logos} alt="" class="rounded-md" />}
    {extraText && <p class="pt-5 font-semibold text-lg">{extraText}</p>}
  </div>
</section>
