---
const { headings } = Astro.props;
const { commands } = Astro.props;
---

<div class="border-2 border-black w-full max-w-2xl my-5">
  <ul class="flex gap-5 font-extrabold text-lg p-4 bg-zinc-900 text-violet-100">
    {headings.map((heading) => <li class="uppercase">{heading}</li>)}
  </ul>
  <ul class="px-5 py-7 text-xl font-bold font-sans text-zinc-800">
    {
      commands.map((command) => (
        <li>
          <code>$ {command}</code>
        </li>
      ))
    }
  </ul>
</div>
