---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title = "Astro Site" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-violet-100">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
